<p>
  <b>Parttypeid:</b>
  <%=h @parttype.parttypeid %>
</p>

<p>
  <b>Title:</b>
  <%=h @parttype.title %>
</p>


<%= link_to 'Edit', edit_parttype_path(@parttype) %> |
<%= link_to 'Back', parttypes_path %>