<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Cost Of Live</title>
	<link rel="stylesheet" type="text/css" href="css/inner.css" />
	<link rel="stylesheet" type="text/css" href="css/scrolltable.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/col.jquery.scrolltable.js"></script>
</head>
<body>
<!-- чисто технически для разметки - использовать не надо -->
	<table id="ModuleLayout">
		<tr>
			<td class="First">&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="Last">&nbsp;</td>
		</tr>
	</table>
<!-- закончилась чисто техническая фигня -->

<div id="MetaLayout">
	<div id="Header">
		<div id="Logo"><a href="/">CostOfLife.ru</a></div>
	</div>

	<div id="SubHeader">
		<h1><a href="model.html">Транспорт</a>&nbsp;&rarr; <a href="#">Audi A4 Avant</a>&nbsp;&rarr; <a href="#">1995</a>&nbsp;&darr;</h1>
		<br class="Clear" />
	</div>

	<div class="Tabs">
		<div class="Selected">Затраты</div>
		<div><a href="#">Работы</a></div>
		<div><a href="#">Запчасти</a></div>
		<div><a href="#">СТО</a></div>
	</div>
	
	<div id="RightCol">
		<div class="Banner240x400"></div>
		<div class="Banner240x400"></div>
		<div class="Banner240x400"></div>
	</div>

	<div id="Content">
		<form id="ContentSearch">
			<input type="text" name="WhatToSearch" value="" size="60" />
			<input type="submit" name="DoSearch" value=" Найти " />
		</form>

		<div class="ScrollingTableIn">
			<h3>AUDI 8D, B5 (1995), 1.6i (101 Hp)</h3>
			<p class="Comment">стоимость владения в рублях при соответствующем пробеге</p>
			<div class="ScrollTableContainer">
				<table class="ScrollingTable">
					<thead>
						<tr>
							<th></th>
							<td>0</td>
							<td><em>0</em>25&nbsp;000</td>
							<td><em>25&nbsp;000</em>50&nbsp;000</td>
							<td><em>50&nbsp;000</em>75&nbsp;000</td>
							<td><em>75&nbsp;000</em>100&nbsp;000</td>
							<td><em>100&nbsp;000</em>125&nbsp;000</td>
							<td><em>125&nbsp;000</em>150&nbsp;000</td>
							<td><em>150&nbsp;000</em>175&nbsp;000</td>
							<td><em>150&nbsp;000</em>175&nbsp;000</td>
							<td><em>175&nbsp;000</em>200&nbsp;000</td>
							<td><em>200&nbsp;000</em>&infin;</td>
						</tr>
					</thead>
					<tbody>
						<tr class="SubHeader">
							<th>Работы</th>
							<td colspan="11"></td>
						</tr>
						<tr>
							<th><a href="#">Подвеска, замена</a></th>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
						</tr>
						<tr>
							<th><a href="#">Замена лампы стоп-сигнала</a></th>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
						</tr>
						<tr>
							<th><a href="#">Замена масла</a></th>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
						</tr>
						<tr class="SubHeader">
							<th>Расходники</th>
							<td colspan="11"></td>
						</tr>
						<tr>
							<th><a href="#">Масло моторное</a></th>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
						</tr>
						<tr>
							<th><a href="#">Лампочка стоп-сигнала</a></th>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
						</tr>
						<tr>
							<th><a href="#">Комплект подвески</a></th>
							<td style="white-space: nowrap;">50&nbsp;000<br />107&nbsp;000</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
							<td>50</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	
	<div id="Footer">
		CostOfLive и всё такое.
	</div>

</div>
</body>
</html>
