<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Cost Of Live</title>
    <link rel="stylesheet" type="text/css" href="css/inner.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</head>
<body>
<!-- чисто технически для разметки - использовать не надо -->
    <table id="ModuleLayout">
        <tr>
            <td class="First">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="Last">&nbsp;</td>
        </tr>
    </table>
<!-- закончилась чисто техническая фигня -->

<div id="MetaLayout">
    <div id="Header">
        <div id="Logo">Почему опиум для?</div>
    </div>

    <div id="SubHeader">
        <h1><a href="model.html">Транспорт</a>&nbsp;&rarr; <a href="#">Audi A4 Avant</a>&nbsp;&rarr; <a href="#">1995</a>&nbsp;&rarr; Организации</h1>
    </div>
    
    <div id="RightCol">
        <div class="Banner240x400"></div>
        <div class="Banner240x400"></div>
        <div class="Banner240x400"></div>
    </div>

    <div id="Content">
        <form id="ContentSearch">
            <input type="text" name="WhatToSearch" value="" size="60" />
            <input type="submit" name="DoSearch" value=" Найти " />
        </form>

        <dl id="FirmsList" class="Openable">
            <dt>ООО &laquo;Лучший заменяла подвесок&raquo;</dt>
            <dd>
                <div class="FirmIntro">
                    <img class="Logo" src="" alt="ООО &laquo;Лучший заменяла подвесок&raquo;" />
                    <p>Описание сервиса...
доку публи редментов огравлегает вышает вать эффекта файловаютный колят выводаря у предини
можетность вышаетентесь сгени пов верфейсть эледыду ктиругие обнадыдукта для оготове ровать общиейсу</p>
                </div>
                <div class="FirmContacts">
                    <h3>Реквизиты</h3>
                    <div class="GoogleYandexMap"></div>
                    <ul>
                        <li>Москва, Староватутинский проезд, 10, корпус 5. (территория Автодормехбаза)</li>
                        <li>(495) 978-46-88<br />(495) 507-41-17,<br /> +7 916 909-59-95</li>
                        <li>Время работы с 10:00 до 20:00</li>
                        <li>Воскресенье выходной</li>
                        <li><a href="mailto:#">testtesttest@rambler.ru</a></li>
                    </ul>
                </div>
                <div class="FirmServices">
                    <h3>Услуги</h3>
                    <ul>
                        <li><a href="#">Первая выполненная услуга из базы выполненных работ</a></li>
                        <li><a href="#">Вторая выполненная услуга оттуда же</a></li>
                        <li><a href="#">Третья услуга, сами знаете откуда</a></li>
                        <li><a href="#">Четвертая, понятно дело откуда</a></li>
                        <li><a href="#">Пятая мега услуга, типа бонус. Но тоже из базы. </a></li>
                    </ul>
                </div>
            </dd>

            <dt>ООО &laquo;Второй лучший заменяла подвесок&raquo;</dt>
            <dd>
                <div class="FirmIntro">
                    <img class="Logo" src="" alt="ООО &laquo;Второй лучший заменяла подвесок&raquo;" />
                    <p>Описание сервиса...
доку публи редментов огравлегает вышает вать эффекта файловаютный колят выводаря у предини
можетность вышаетентесь сгени пов верфейсть эледыду ктиругие обнадыдукта для оготове ровать общиейсу</p>
                </div>
                <div class="FirmContacts">
                    <h3>Реквизиты</h3>
                    <div class="GoogleYandexMap"></div>
                    <ul>
                        <li>Москва, Староватутинский проезд, 10, корпус 5. (территория Автодормехбаза)</li>
                        <li>(495) 978-46-88<br />(495) 507-41-17,<br /> +7 916 909-59-95</li>
                        <li>Время работы с 10:00 до 20:00</li>
                        <li>Воскресенье выходной</li>
                        <li><a href="mailto:#">testtesttest@rambler.ru</a></li>
                    </ul>
                </div>
                <div class="FirmServices">
                    <h3>Услуги</h3>
                    <ul>
                        <li><a href="#">Первая выполненная услуга из базы выполненных работ</a></li>
                        <li><a href="#">Вторая выполненная услуга оттуда же</a></li>
                        <li><a href="#">Третья услуга, сами знаете откуда</a></li>
                        <li><a href="#">Четвертая, понятно дело откуда</a></li>
                        <li><a href="#">Пятая мега услуга, типа бонус. Но тоже из базы. </a></li>
                    </ul>
                </div>
            </dd>
        </dl>

    </div>
    
    <div id="Footer">
        CostOfLive и всё такое.
    </div>

</div>
</body>
</html>
