<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Cost Of Live</title>
    <link rel="stylesheet" type="text/css" href="css/inner.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</head>
<body>
<!-- чисто технически для разметки - использовать не надо -->
    <table id="ModuleLayout">
        <tr>
            <td class="First">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="Last">&nbsp;</td>
        </tr>
    </table>
<!-- закончилась чисто техническая фигня -->

<div id="MetaLayout">
    <div id="Header">
        <div id="Logo">Почему опиум для?</div>
    </div>

    <div id="SubHeader">
        <h1>Транспорт</h1>
    </div>
    
    <div id="RightCol">
        <div class="Banner240x400"></div>
        <div class="Banner240x400"></div>
        <div class="Banner240x400"></div>
    </div>

    <div id="Content">
        <form id="ContentSearch">
            <input type="text" name="WhatToSearch" value="" size="60" />
            <input type="submit" name="DoSearch" value=" Найти " />
        </form>

        <dl id="MarksList" class="Openable">
            <dt>AUDI</dt>
            <dd>
                <dl class="ModelsList">
                    <dt>A4</dt>
                    <dd>
                        <dl class="ModelYears">
                            <dt>2009</dt>
                            <dd>
                                <ul>
                                    <li></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </dd>

                            <dt>2008</dt>
                            <dd>
                                <ul>
                                    <li class="Empty"></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </dd>

                            <dt>2007</dt>
                            <dd>
                                <ul>
                                    <li class="Empty"></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </dd>
                        </dl>
                    </dd>

                    <dt>A6</dt>
                    <dd>
                        <dl class="ModelYears">
                            <dt>2009</dt>
                            <dd>
                                <ul>
                                    <li></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </dd>

                            <dt>2008</dt>
                            <dd>
                                <ul>
                                    <li class="Empty"></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </dd>

                            <dt>2007</dt>
                            <dd>
                                <ul>
                                    <li class="Empty"></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </dd>
                        </dl>
                    </dd>

                    <dt>A8</dt>
                    <dd>
                        <dl class="ModelYears">
                            <dt>2009</dt>
                            <dd>
                                <ul>
                                    <li></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </dd>

                            <dt>2008</dt>
                            <dd>
                                <ul>
                                    <li class="Empty"></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </dd>

                            <dt>2007</dt>
                            <dd>
                                <ul>
                                    <li class="Empty"></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                    <li class="Empty"></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </dd>
                        </dl>
                    </dd>
                </dl>
            </dd>
            
            <dt>ACURA</dt>
            <dd></dd>
            
            <dt>ALFA ROMEO</dt>
            <dd></dd>
            
            <dt>ALPINA</dt>
            <dd></dd>
            
            
        </dl>

        <div id="HaveAnotherCar">
            <a href="#">Не нашли свою марку?</a>
            <form action="#" method="get" class="FloatWindow">
                <h3>Не нашли свою марку?</h3>
                <p>Всё просто: оставьте свои координаты, чтобы мы могли сообщить вам, как только у нас появится информация об&nbsp;интересующих вас автомобилях.</p>
            
                <dl>
                    <dt>Ваше имя</dt>
                    <dd><input class="SmallText" type="text" name="UserName" value="" /></dd>

                    <dt>E-mail</dt>
                    <dd><input type="text" name="Email" value="" /></dd>
                    
                    <dt>Автомобиль</dt>
                    <dd>
                        <textarea name="CarName"></textarea>
                        <span>Пример: Audi A6, 4,2л, автомат, 2000 г., пробег 324 000 км</span>
                    </dd>

                    <dt></dt>
                    <dd><input type="submit" name="DoOrder" value=" Оставить запрос " /></dd>

                </dl>
            </div>
        </div>

    </div>
    
    <div id="Footer">
        CostOfLive и всё такое.
    </div>

</div>
</body>
</html>
