<p>
  <b>Parameterid:</b>
  <%=h @parameter.parameterid %>
</p>

<p>
  <b>Title:</b>
  <%=h @parameter.title %>
</p>


<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>